html, body {
  font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
  height: 100%;
  font-size: 13px;
}

.pointer {
  cursor: pointer;
}

.vertical-stretch {
  height: 100%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.horizontal-stretch-img {
  width: 100%;
  height: auto;
}

.vertical-stretch-img {
  height: 100%;
  width: auto;
}

.img-center {
  vertical-align: middle;
}

.block-center {
  margin: 0 auto;
}

.flex-container {
  display: flex;
}